* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
  font-family: Arial, sans-serif;
}
.parent-container {
  height: calc(100vh - 65px); /* Adjust 100px according to your header and footer height */
  overflow-y: auto; /* Enable vertical scrolling */
}
.container {
  text-align: center;
  max-width: 800px;
  margin: auto;
}
footer {
  background: rgba(34, 34, 34, 0.8);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
