<div class="skills-container fade-in">
    <h2>Skills</h2>
    <div class="skills-grid">
      <div class="skill-card">Angular</div>
      <div class="skill-card">C#</div>
      <div class="skill-card">SQL Server</div>
      <div class="skill-card">ASP.NET Core Web API</div>
      <div class="skill-card">Firebase</div>
      <div class="skill-card">Progressive Web Apps (PWA)</div>
      <div class="skill-card">Server-Side Rendering (SSR)</div>
      <div class="skill-card">Localization & Multi-language</div>
      <div class="skill-card">Responsive Web Design</div>
    </div>
  </div>