header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
  height: 65px;
}
h1 {
  font-size: 24px;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  transition: 0.3s;
}
nav a:hover,
.active {
  transform: scale(1.1);
  color: #f03;
}

nav a.active {
  font-weight: bold;
  color: #f03;
  text-decoration: none;
}

.box {
  display: grid;
  place-content: center;
  width: 100px;
  color: white;

  --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );

  border: solid 2px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #08f,
    #f03 99%,
    transparent
  );

  background: 
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box,
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

// CROSS FADE 

$cross-fade-border-width: 2px;
$cross-fade-border-color: #f03;
$cross-fade-button-padding: 5px 20px;
$cross-fade-border-radius: 0px;
$sec-cross-fade-background: #08f;
$cross-fade-transition-time: 0.75s;

.cross-fade {
  display: inline-block;
  padding: $cross-fade-button-padding;
  // border: $cross-fade-border-width $cross-fade-border-color solid;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color $cross-fade-transition-time ease-in-out;
  z-index: 1;
  border-radius: $cross-fade-border-radius;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: -25%;
    width: 150%;
    height: 100%;
    background: rgba($sec-cross-fade-background, 0.5);
    transition: transform $cross-fade-transition-time ease-in-out;
    z-index: -1;
  }

  &:before {
    transform: translate3d(100%, 0, 0) skew(20deg);
    transform-origin: 0 0;
  }

  &:after {
    transform: translate3d(-100%, 0, 0) skew(20deg);
    transform-origin: 100% 100%;
  }

  &:hover {
    &:before,
    &:after {
      transform: translate3d(0, 0, 0) skew(20deg);
    }
  }
}
